<div class="container">
  <div class="row">
    <div class="col"><h2>Add source</h2></div>
</div>
<div class="row">
<%= form_with model: @source do |form| %>
  <div class="row">
    <div class="col-md-2 mb-4"><%= form.label :url, "URL", class: "form-control"%></div>
    <div class="col-md-4 mb-4"><%= form.text_field :url, class: "form-control" %></div>
    <div class="col-6"><%= form.submit class: "form-control" %></div>
  </div>
<% end %>
</div>
