<h1>Addresses</h1>

<%= link_to "Add", addresses_new_path %>

<div id="addresses">
  <% @addresses.each do |address| %>
    <div>
      <%= address.id %><%= address.url %> <%= link_to "Edit", address %>
    </div>
  <% end %>
</div>